
@media (max-width: 991.98px) {
    .gradient-text1,
    .gradient-text2 {
      display: none !important;
    }
  }

body {
    background-color: black;
    color: white; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

  footer {
    margin-top: auto;
  }

.glow-bg-Header {
    background: linear-gradient(to bottom, purple 0%, black 100%);
    width: 100vw;
    max-width: none; 
}

.glow-bg-Header {
    background: linear-gradient(to bottom, rgb(64, 1, 64) 0%, black 100%);
}

.glow-bg-Footer {
    background: linear-gradient(to top, purple 0%, black 100%);
}


.gradient-text1 {
    background: linear-gradient(to right, white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text2 {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    max-width: none;
}

.btn-outline-purple {
    border-color: purple;
    color: rgb(239, 239, 239);
}

.btn-outline-purple:hover {
    background-color: purple;
    color: rgb(255, 255, 255);
}

.glow {
    box-shadow: 0 0 10px purple, 0 0 15px purple;
}

